.container-fluid .carousel-container{
    height: 400px;
    overflow: hidden;
}

.container-fluid .carousel-caption {
    top: 300px !important;
    max-height: 100px !important;
    left: 0px !important;
    width: 100% !important;
    padding-left: 10px;
    font-size: large !important;
}

.carousel-container .bg-white {
    opacity: 0.8;
}

.not-found-text{
    margin-top: 30% !important;
    margin-bottom: 40% !important;
}