.container-fluid .carousel-container{
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.container-fluid .carousel-caption{
    bottom: 50% !important;
}

.not-found-text{
    margin-top: 30% !important;
    margin-bottom: 40% !important;
}